<ion-header>
  <ion-navbar color="secondary">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <menu no-padding></menu>
        </ion-col>
        <ion-col col-8>
          <h3 class="title-page">Flores Já</h3>
        </ion-col>
        <ion-col col-2 class="filtro">
          <button ion-button icon-only color='orange' (click)="mostrarFiltro()">
            <ion-icon name="ios-funnel" [style.color]="comFiltro ? 'orange' : 'inherit'"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-searchbar placeholder="Pesquisar" [(ngModel)]="buscarProduto" (ionInput)="filtrarProdutos($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <ion-row no-padding>
    <ion-col *ngFor="let produtos of listaprodutos let i = index" [attr.col-6]="grid ? true : null" [attr.col-12]="!grid ? true : null">
      <ion-card>
        <ion-card-content>
          <div class='premiumProduct'>
            <p text-center>Premium</p>
          </div>
          <ion-slides class="image-slider" loop="true" slidesPerView="1">
            <ion-slide *ngFor="let fotos of produtos.imagens">
              <img [src]="fotos.img" class="thumb-img" imageViewer/>
            </ion-slide>
          </ion-slides>
          <ion-card-title text-center text-wrap>
            {{produtos.nomeProduto}}
          </ion-card-title>
        </ion-card-content>

        <div class="buttonsDiv">
          <ion-row>
            <ion-col col-6>
              <p class='preco'>{{produtos.valorProduto}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <button ion-button (click)="verDetalhes(produtos)" color='secondary' full>
                <ion-icon name="eye" large></ion-icon>
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button icon-center color='orange' (click)="carrinho.addProduto(produtos)" full>
                <ion-icon name="cart" large></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>

      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>